name = "Example"
author = "[7][7][7]"

instruction("ADD", "01"){
    description = "Finds the sum of two numbers."
    fuel = 100
}

instruction("PUSH", "02"){
    description = "Pushes a number onto the stack."
    fuel = 30
}

instruction("TEST", "03"){
    description = "Test instruction."
    fuel = 30
}
