name = "Example"
author = "[7][7][7]"
receiver = "VM"

instruction("ADD"){
    description = "Finds the sum of two numbers."
    pop = 2
    push = 1
    fuel = 100
}

instruction("PUSH"){
    hex = 0
    description = "Pushes a number onto the stack."
    push = 1
    fuel = 30
}
