name = "Example"
author = "Alex"
description = "A toy VM."

instruction("ADD", "01"){
    description = "Finds the sum of two numbers."
    fuel = 100
}

category("Pushers"){

    description = "Things which push"

    instruction("PUSH", "02"){
        description = "Pushes a number onto the stack."
        fuel = 10
    }

    instruction("TEST", "03"){
        description = "Test instruction."
        fuel = 30
    }

}
